* {
    margin: 0;
    font-family: Google Sans, sans-serif;
}

.website-top-container {
    color:#4b5786;
    height: 58px;
}

.website-top-row {
    color:#4b5786;
    width: 100%;
    height: 58px;
    margin-left: 20px;
    margin-right: 20px;
    display: table;
    vertical-align: middle;
    position: absolute;
}

.home-page-my-name {
    color: #0e1de2fa;
    width: 160px;
    height: 58px;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
}

.home-page-nav-list {
    display: table-cell;
    height: 58px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #8c8cc7;
    padding: 0 15px;
    text-decoration: none;
}

nav li a:hover:not(.active){
    color: #f30808fa
}

.active {
    color: #2df804;
}

.main-page-background-container {
    max-height: 675px;
    width: 100%;
    overflow: auto
}

.main-page-background {
    height: 610px;
    background-size: cover;
    background-image: url("/img/misc/bg_main.jpg");
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.main-page-info {
    position: absolute;
    color: #f3082ffa;
    left: 20px;
    top: 80px;
}

.main-page-description {
    padding-top: 100px;
}

p {
    color: #08f343fa;
    margin-left: 20px;
    margin-bottom: 20px;
}

.footer {
    color:#4b5786;
    margin-left: 20px;
    margin-top: 5px;
}

.copyright {
    color: #3f11e2fa;
    float: left;
}

.time {
    color: #f10e0efa;
    float: right;
}