<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Google Sans' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="website-top-container">
            <div class="website-top-row">
                <div class="home-page-my-name">
                    <h2>Agaetis Tang</h2>
                </div>
                <nav>
                    <ul class="home-page-nav-list">
                        <li><a href="/">Home</a></li>
                        <li><a class="active" href="/imageRecognition">Image Recognition</a></li>
                        <li><a href="/changeLog">Change Log</a></li>
                    </ul>
                </nav>

            </div>
        </div>

        <div class="upload-image-container">
			<form method="POST">
				<label>Input an URL:</label><br />
				<input type="text" name="url"><br />
				<input type="submit">
			</form>
        </div>

        <div class="image-recognition-container">
            <div id="image-recognition-image">
                {{if .Success}}
                    <img src={{.URL}} style="width:650px;height:450px">
                {{end}}
            </div>

            <div id="image-recognition-result">
                <h4>{{.StatusMessage}}</h4>
                {{if .Success}}
                    <ul>
                        {{range .PredLabels}}
                            <li>{{.Label}} {{.Probability}}</li>
                        {{end}}
                    </ul>
                {{end}}
            </div>
        </div>

        <div class="footer">
            <div class="copyright">
                &copy; 2019 Qi Tang 
            </div>
        </div>
    </body>
</html>